.bg{
	width: 100%;
	background: #f4f8e7 url(../img/skin/bg_a_2.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_a_2{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
