.bg{
	width: 100%;
	background: #f5efe3 url(../img/skin/bg_b_9.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_b_9{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
