.bg{
	width: 100%;
	background: #f1f1f1 url(../img/skin/bg_b_3.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_b_3{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
