.bg{
	width: 100%;
	background: #7eb84a url(../img/skin/bg_c_8.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_c_8{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
