.bg{
	width: 100%;
	background: #fffafa url(../img/skin/bg_c_1.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_c_1{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
