.bg{
	width: 100%;
	background: #f7faff url(../img/skin/bg_d_6.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_d_6{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
