.bg{
	width: 100%;
	background: #fdc98f url(../img/skin/bg_d_4.jpg) no-repeat center top;
	overflow: hidden;
}
.my_skin .bg_d_4{
	background-color: #0C9;
	background-image: url(../img/skin/dangqian.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
